div.table {
  display: flex;
}

div.table-row {
  display: flex;
  width: 100%;
}

div.comment {
  border-color: var(--color);
  border-width: 1px;
  padding: 5px;
  border-bottom-style: solid;
  border-top-style: solid;
}

.comment-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.comment-meta {
  text-align: center;
  min-width: 80px;
  max-width: 80px;
  border-left-style: solid;
  border-right-style: solid;
}

.comment-author {
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-msg {
  align: left;
  width: 100%;
  border-right-style: solid;
}

.comment-attachments {
  display: block;
}

img.comment-attachment {
  width: 20%;
  padding: 1%;
}

p.comment-author {
  font-weight: bold;
}

p.comment-date {
  font-size: 0.75rem;
}
