{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ partial "metadata.html" . }}
<!-- <br><br> -->
<article>
{{- partial "content-warning.html" . -}}
{{ .Content }}
{{- partial "contact-me.html" . -}}
</article>
{{ if eq .Params.languageCode "de" }}
{{- partial "content-license-de.html" . -}}
{{ else }}
{{- partial "content-license.html" . -}}
{{ end }}
{{- partial "comments.html" . -}}
{{ end }}
