{{ $mastodonLink := .Params.mastodonlink | default "" }}
{{ if $mastodonLink }}
  {{ $server := replaceRE "(https?://.*)/(.*)/(.*)" "$1" $mastodonLink }}
  {{ $messageId := replaceRE "(https?://.*)/(.*)/(.*)" "$3" $mastodonLink }}
  {{ with try (resources.GetRemote (printf "%s/api/v1/statuses/%s/context" $server $messageId)) }}
    {{ with .Err }}
      {{ errorf "%s" . }}
    {{ else with .Value }}
      {{ $data := . | transform.Unmarshal }}
      {{ if $data.descendants }}
        <hr/>
        <h3>Comments</h3>
        {{ template "recursive-comments" (dict "comments" $data.descendants "replyTo" $messageId "indent" 0 "blocked_accounts" $.Site.Params.masto_comments.blocked_accounts) }}
      {{ end }}
    {{ else }}
      {{ errorf "Unable to get remote resource %q" $mastodonLink }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "recursive-comments" }}
  {{ $comments := .comments }}
  {{ $indent := .indent }}
  {{ $blocked_accounts := .blocked_accounts }}
  {{ range where .comments ".in_reply_to_id" .replyTo }}
    {{ if not (in $blocked_accounts .account.acct) }}
      <div class="table-row">
        <div style="padding-left:{{ mul $indent 10 }}px;"></div>
        <div class="comment-meta comment">
          <img class="comment-avatar" src="{{ .account.avatar_static }}" alt="Avatar of {{ .account.display_name }}."/>
          <p class="comment-author">{{ .account.display_name }}</p>
          <p class="comment-date">{{ .created_at | time.Format "Jan 02, 2006 15:04" }}</p>
        </div>
        <div class="comment-msg comment">
          {{ htmlUnescape .content | safeHTML }}
          {{ if .media_attachments }}
            <div class="comment-attachments">
              {{ range .media_attachments }}
                <a href="{{ .remote_url }}" target="_"><img class="comment-attachment" src="{{ .preview_url }}" alt="{{ .description }}"/></a>
              {{ end }}
            </div>
          {{ end }}
          <p><a href="{{ .url }}" target="_">Reply</a></p>
        </div>
      </div>
      {{ template "recursive-comments" (dict "comments" $comments "replyTo" .id "indent" (add $indent 1) "blocked_accounts" $blocked_accounts) }}
    {{ end }}
  {{ end }}
{{ end }}
