<!--Nope! Don't care about that!-->
<!--<p><a href="/policies/privacy/">Privacy Policy</a> | <a href="/policies/cookies/">Cookie Policy</a> | <a href="/policies/terms/">Terms of Use</a></p> <!-- We like putting links in a paragraph separated by pipe ("|") characters -->
<p>© {{ dateFormat "2006" now }} {{ $.Site.Params.Author }}</p> <!-- While not legally required, it's nice to put copyright and/or license info here. Also, it looks nice to break up the links with a line of text -->
<a href={{ $.Site.Params.Mastodon }} rel="me" target="blank">Mastodon</a> {{ if $.Site.Params.Codeberg }} | <a href="{{ $.Site.Params.Codeberg }}">Codeberg</a> {{ end }} | <a href="/imprint/">Contact Me</a> | <a href="/rss">RSS Feeds</a> | <a href="/imprint">Imprint</a></p> <!-- This is the kind of thing people look for in footers: contact info and legal info. Make sure you include both! -->
